.Title__item,
.Subtitle__item {
    text-align: center;
    margin: 0 auto;
}

.Title__item {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding-top: 150px;
}

.Subtitle__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    width: 511px;
    margin-bottom: 50px;
    margin-top: 10px;
}

@media screen and (max-width: 1260px) {
    .Title__item,
    .Subtitle__item {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .Title__item {
        padding-top: 96px;
    }
}

@media screen and (max-width: 475px) {
    .Subtitle__item {
        width: 225px;
    }
}